<div class="col-md-8 offset-2">
    <h4>Demande d'audience</h4>
    <div class="card">
        <form class="form-horizontal">
            <div class="card-body">

                <div class="form-group row">
                    <label for="nom" class="col-sm-3 text-end control-label col-form-label">Nom</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="nom" disabled />
                    </div>
                </div>
                <div class="form-group row">
                    <label for="nom" class="col-sm-3 text-end control-label col-form-label">Qualité</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="qualite" disabled />
                    </div>                    
                </div>
                <div class="form-group row">
                    <label for="type-caisse" class="col-sm-3 text-end control-label col-form-label">Desir</label>
                    <div class="col-sm-9">
                        <select type="text" class="form-control" id="type-caisse">
                            <option value="contribuable">Voir</option>
                            <option value="cotisation">Rendez-vous</option>
                        </select>
                        
                    </div>
                </div>
                <div class="form-group row">
                    <label for="nom" class="col-sm-3 text-end control-label col-form-label">Mr.</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="mr" disabled />
                    </div>                    
                </div>
                <div class="form-group row">
                    <label for="nom" class="col-sm-3 text-end control-label col-form-label">Objet</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="objet" disabled />
                    </div>                    
                </div>
                <div class="form-group row">
                    <label for="nom" class="col-sm-3 text-end control-label col-form-label">Message</label>
                    <div class="col-sm-9">
                        <textarea type="text" class="form-control" id="qualite" disabled> </textarea>
                    </div>                    
                </div>

            </div>
            <div class="border-top">
                <div class="card-body">
                    <button type="button" class="btn btn-primary">
                        Modifier
                    </button>
                </div>
            </div>
        </form>
    </div>