<div class=" col-6 offset-2">
    <div class="card card-outline card-primary">
        <div class="card-header text-center">
        <a href="../../index2.html" class="h1"><b>Admin</b>LTE</a>
        </div>
        <div class="card-body">
        <h1 class="h3 font-weight-normal">Connectez-vous</h1>

        <form method="post" autocomplete="off">
            
            <div class="input-group mb-3">
            <input type="email" class="form-control" placeholder="Email">
            <div class="input-group-append">
                <div class="input-group-text">
                <span class="fas fa-envelope"></span>
                </div>
            </div>
            </div> 
            <div class="input-group mb-3">
            <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" placeholder="Mot de passe" required>
            <div class="input-group-append">
                <div class="input-group-text">
                <span class="fas fa-lock"></span>
                </div>
            </div>
            </div>
            
            <div class="row">
            <div class="col-8">
                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" name="_remember_me"> Se souvenir de moi
                    </label>
                </div>
            </div>
            
            </div>

            <div class="social-auth-links text-center">
                <button type="submit" class="btn btn-primary btn-block">Suivant</button>
            </div>
        </form>

        <a routerLink="/register" class="text-center">Je n'ai pas de compte</a>
        </div>
        
    </div>
</div>
