<div class="col-12">
    <a class="btn btn-info" target="_blank" routerLink="/print-reservation"><i class="fa fa-print"> Imprimer la liste</i></a>
    
    <br><br>
    <div class="card">
      <div class="card-body">
        
        <div class="table-responsive">
          <table
            id="zero_config"
            class="table table-striped table-bordered"
          >
            <thead>
              <tr>
                <th>Date d'audience</th>
                <th>Tiket n°</th>
                <th>Nom Patient</th>
                <th>Actions</th>
           </tr>
            </thead>
            <tbody>
              <tr>
                <td>10/12/2023 , 6:30 min</td>
                <td>0398483773883</td>
                <td>Akono jean paul</td>
                <td>
                    <a class="btn btn-warning" routerLink="/modifier-audience"><i class="fa fa-edit"> Afficher l'audience</i></a>
                    
                    <a class="btn btn-danger" ><i class="fa fa-trash"> Annuler l'audience</i></a>
                </td>
                
              </tr>
              
            </tbody>
            <tfoot>
              
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>